

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Đơn hàng</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">

                <li class="breadcrumb-item active">Đơn hàng</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container mt-4">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Danh sách</a>
            </li>
            <li class="nav-item">

            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <table id="example1" class="table table-bordered table-striped">
                <style>
                  div.dataTables_wrapper div.dataTables_filter label {
                    display: none;
                  }

                  div.dataTables_wrapper div.dataTables_filter input {
                    display: none;
                  }

                  .pagination {
                    display: none;
                  }

                  .dataTables_empty {
                    display: none;
                  }
                </style>
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Sản phẩm Đã mua</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in pager.items">
                    <td>{{ $index + 1 }}</td>
                    <td>{{item.fullname}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.orderDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td>{{item.totalPrice | number:0 }} VND</td>
                    <td>{{item.productNames}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer text-center">
                <button ng-click="pager.first()" class="btn btn-primary">
                  <i class="fas fa-arrow-circle-up"></i>
                </button>
                <button ng-click="pager.prev()" class="btn btn-primary">
                  <i class="fas fa-arrow-circle-left"></i>
                </button>
                <button class="btn btn-success">{{pager.page +1}} of {{pager.count}}</button>
                <button ng-click="pager.next()" class="btn btn-primary">
                  <i class="fas fa-arrow-circle-right"></i>
                </button>
                <button ng-click="pager.last()" class="btn btn-primary">
                  <i class="fas fa-arrow-circle-down"></i>
                </button>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>
          </div>
        </div>
        <!-- /.card-body -->
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
      </div>
      <!-- /.card-header -->
      <!-- /.card-body -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Main Footer -->
  </div>
  <!-- ./wrapper -->
