
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-8">
              <h1 class="m-0">Thống kê tổng doanh thu của các sản phẩm đã bán</h1>
            </div>
            <!-- /.col -->

            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <table id="example1" class="table table-bordered table-striped">
          <style>
            div.dataTables_wrapper div.dataTables_filter label {
              display: none;
            }

            div.dataTables_wrapper div.dataTables_filter input {
              display: none;
            }

            .pagination {
              display: none;
            }

            .dataTables_empty {
              display: none;
            }

            /* Hiển thị các thẻ div khi có lỗi */
          </style>
          <thead>
            <tr>
              <th>Tên thuốc</th>
              <th>Số lượng</th>
              <th>Tổng giá</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items">
              <td>{{ item.productName }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.totalPrice | number:0 }} VND </td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataTable with default features</h3>
        </div>
        <!-- /.card-header -->

        <!-- /.card-body -->
      </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
  </div>
  <!-- ./wrapper -->

 